# ============================================================================
# LLM API Keys (see LiteLLM docmentation to test other models)
# ============================================================================
OPENAI_API_KEY=...
GEMINI_API_KEY=...
ANTHROPIC_API_KEY=...